.title {
    font-size:20pt
    font-weight:bold;
    color:[#ff0000]
    font-family: Arield, Helvetica, sans-serif;
    }
.formHeader {
    font-size: 13pt;
    font-weight:bold;
    color:[#ff0000}
    font-family: Ariel, Helvetica, sans-serif;
    }
.container {
    max-weidth: 70em;
    margin:0 auto;
    }
.maincontent{
    overflow: hidden;
    padding: 1em 1.25em;
    background color:[000000]
    }
.content {
    overflow:hidden;
    padding: 1em 1.25em;
    }
#body {
    font-size: 12pt;
    font-family: Ariel, Helvetica, sans-serif;
    color:[ff0000]
    background-color: [ffffff]
    }
#a:link,a:visited {
    font-size: 12pt;
    font-family: Ariel, Hlvetica, sans-serif;
    colr:[ffff00]
    }
#footer {
    color: [ff0000]
    background: [ffffff]
    height:100px;
    padding: 1em 1.25em;
    position:relative;
    }
.logo {
    display:block;
    width: 70em;
    height:30em;
    background:url(logourl) no-repeat
    margin: 0 auto;
    max-width: 100%;
    background-position: center;
    }
.nav {
    margin: 0 auto;
    max-width: 100%;
    }
.footer {
    clear: left;
    }
.main {
    float: left;
    width: 100%;
    margin-right:5%;
    margiun bottom: 1em;
    }    
.buttonlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
.menubutton {
    background-color: [ffffff]
    float: left;
    }
.ul li a {
    width: 175px;
    text-align: center;
    padding: 10px;
    margin: 10px
    text-decoration: none;
    }

    
